services:
  db:
    image: postgres:18
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: ${USER}
      POSTGRES_PASSWORD: ${USER}
    volumes:
      - postgres-data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${EMAIL}
    ports:
      - 8081:80

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 8082:8080

volumes:
  postgres-data:
